<template>
    <div>
        <div class="work-calendar">
            <div class="work-calendar__header row">
                <div class="col-md-4 col-sm-5 col-xs-6">
                    <span class="work-calendar__title">Рабочий календарь</span>
                    <div class="help-block">
                        <img src="@/assets/icons/help_outline.svg"
                             v-on:click="()=>this.showTooltip=true">
                        <div class="tooltip" v-if="this.showTooltip">
                            <p><b>Рабочий календарь.</b> Раздел предназначен для управления рабочим временем
                                сотрудников.</p>
                            <a v-bind:href="this.wikiURL" target="_blank">Подробная инструкция</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-5 col-sm-5 col-sm-offset-2 col-xs-6">
                    <button class="add-record" v-on:click="()=>this.addNewRecordPopup=true"><span>+</span><span>добавить запись</span>
                    </button>
                </div>
            </div>
            <div class="work-calendar__content">
                <div class="filters row">
                    <div class="selected-filter" v-for="(filter,i) in allSelectedFilters" :key="i">
                        {{ filter.str.length>20?filter.str.substr(0,20)+"...":filter.str }}
                        <div class="close" v-on:click="deleteSelectedFilter(filter.type)"></div>
                    </div>
                    <div class="filters__actions">
                        <svg v-on:click="()=>this.filterPopup=true"
                             width="17.48" height="17.48" viewBox="0 0 17.48 17.48"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.32812 10.3427C4.20312 11.2177 5.26562 11.6552 6.51562 11.6552C7.76562 11.6552 8.82812 11.2177 9.70312 10.3427C10.5781 9.46771 11.0156 8.40521 11.0156 7.15521C11.0156 5.90521 10.5781 4.84271 9.70312 3.96771C8.82812 3.09271 7.76562 2.65521 6.51562 2.65521C5.26562 2.65521 4.20312 3.09271 3.32812 3.96771C2.45312 4.84271 2.01562 5.90521 2.01562 7.15521C2.01562 8.40521 2.45312 9.46771 3.32812 10.3427ZM12.5156 11.6552L17.4844 16.624L15.9844 18.124L11.0156 13.1552V12.3583L10.7344 12.0771C9.54688 13.1083 8.14062 13.624 6.51562 13.624C4.70312 13.624 3.15625 12.999 1.875 11.749C0.625 10.499 0 8.96771 0 7.15521C0 5.34271 0.625 3.81146 1.875 2.56146C3.15625 1.28021 4.70312 0.639587 6.51562 0.639587C8.32812 0.639587 9.85938 1.28021 11.1094 2.56146C12.3594 3.81146 12.9844 5.34271 12.9844 7.15521C12.9844 8.78021 12.4688 10.1865 11.4375 11.374L11.7188 11.6552H12.5156Z"
                                  fill="#C9D1D2"/>
                        </svg>
                        <div class="close" v-show="allSelectedFilters.length" v-on:click="deleteSelectedFilter('all')"></div>
                    </div>
                    <filter-popup v-if="this.filterPopup" v-on:close-filter-popup="()=>this.filterPopup=false"
                                  v-on:close="()=>this.filterPopup=false"></filter-popup>
                </div>
                <div class="calendar calendar-for-employees">
                    <div class="row">
                        <div class="switch-month col-md-4 col-md-offset-4">
                            <button class="previous" v-on:click="prev"></button>
                            <span class="selected-month">{{formatMonthAndYear}}</span>
                            <button class="next" v-on:click="next"></button>
                        </div>
                    </div>
                    <div class="table-wrapper">
                        <div v-show="!this.allUsersWithTimelines" class="loading">
                            <img src="@/assets/spinner.gif" alt="">
                        </div>
                        <div class="table-responsive">
                            <table class="table-calendar table-bordered">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th v-for="index in countDaysInMonth"
                                        :key="index"
                                        v-bind:class="styles(index)">
                                        {{index.toString().padStart(2,'0')}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="user in allUsersWithTimelines" :key="user.id">
                                    <td><a :href="user.url">{{user.name}}</a></td>
                                    <td v-for="index in countDaysInMonth"
                                        :key="'user_'+user.id+'_index_'+index"
                                        v-bind:class="styles(index)"
                                        :ref="'user_'+user.id+'_index_'+index">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <new-record-popup v-if="this.addNewRecordPopup"
                          v-on:close-new-record-popup="()=>this.addNewRecordPopup=false"></new-record-popup>
        <record-info-popup v-if="selectedUser"
                           :user="selectedUser"
                           :types="allTypes"
                           v-on:close-record-info-popup="()=>this.selectedUser=null"></record-info-popup>
    </div>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex';
    //import TypeList from "./TypeList";
    import FilterPopup from "./FilterPopup";
    import NewRecordPopup from "./NewRecordPopup";
    import RecordInfoPopup from "./RecordInfoPopup";

    export default {
        name: 'calendar-user-execute',
        components: {
            /*TypeList,*/
            NewRecordPopup,
            RecordInfoPopup,
            FilterPopup
        },
        data() {
            return {
                visibleTypeList: false,
                addNewRecordPopup: false,
                filterPopup: false,
                selectedUser: null,
                recordTypeValue: "Не выбрано",
                userInputValue: "Не выбрано",
                visibleUserList: false,
                dateObject: new Date(),
                wikiURL: process.env.VUE_APP_WIKI_WORK_CALENDAR,
                showTooltip: false,
            };
        },
        widthTd: null,
        computed: {
            formatMonthAndYear() {
                let month = this.dateObject.toLocaleString('ru', {month: "long"});
                month = month[0].toUpperCase() + month.substr(1);
                return month + ", " + this.dateObject.toLocaleString('ru', {year: "numeric"});
            },
            countDaysInMonth() {
                return new Date(this.dateObject.getFullYear(), this.dateObject.getMonth() + 1, 0).getDate();
            },
            weekends() {
                const date = new Date(this.dateObject.getFullYear(), this.dateObject.getMonth());
                let day = 0;
                let weekends = [];
                for (let i = 1; i < this.countDaysInMonth; i++) {
                    date.setDate(i);
                    day = date.getDay();
                    if (day === 0 || day === 6) weekends.push(i);
                }
                return weekends;
            },
            ...mapGetters(['allUsers', "allUsersWithTimelines", "allTypes", "allSelectedFilters"]),
        },
        async mounted() {
            await this.initialCalendar(this.dateObject);
            window.addEventListener('resize', this.DrawTimelines)
            document.addEventListener("click", (event) => {
                if (!event.target.closest(".help-block")) this.showTooltip = false;
            });
        },
        updated() {
            if (this.allUsersWithTimelines) {
                this.userInputValue = this.allUsersWithTimelines ?
                    this.allUsersWithTimelines.filter(user => user.selected === true).map(({name}) => name).join(', ') : 'Не выбрано';
                this.DrawTimelines();
            }
        },
        methods: {
            ...mapActions(['showByDate', 'showUser', 'initialCalendar', "showByUsers","removeTypeAndUpdateList"]),
            deleteSelectedFilter(type){
                this.removeTypeAndUpdateList(type);
            },
            async next() {
                this.dateObject = new Date(this.dateObject.getFullYear(), this.dateObject.getMonth() + 2, 0);
                await this.showByDate(this.dateObject);
            },
            async prev() {
                this.dateObject = new Date(this.dateObject.getFullYear(), this.dateObject.getMonth(), 0);
                await this.showByDate(this.dateObject);
            },
            styles(index) {
                let str = [];
                let date = new Date();
                if (this.weekends.indexOf(index) > -1) str.push('weekend');
                if (date.getDate() === index && date.getMonth() === this.dateObject.getMonth()) str.push('current-day');

                if (str.length) return str.join(" ");
                return null;
            },
            setUser(event, id) {
                let li = event.target;
                if (li.classList.contains("selected")) {
                    li.classList.remove("selected");
                } else {
                    li.classList.add("selected");
                }
                this.showByUsers(id);
            },
            DrawTimelines: function () {
                let elements = document.querySelectorAll('td > div.timeline');

                for (let i = 0; i < elements.length; i++) {
                    elements[i].parentElement.removeChild(elements[i]);
                }

                //debugger;

                if (Object.keys(this.$refs).length && this.allTypes.length) {
                    let div = null, dateStart = null, dateEnd = null, str, parent = null;
                    let rect1 = null, rect2 = null;
                    let left = 0, right = 0;
                    this.allUsersWithTimelines.forEach(user => {
                        if (user.timelines !== undefined) {
                            user.timelines.forEach(timeline => {
                                dateStart = new Date(timeline['start']);
                                dateEnd = new Date(timeline['end']);

                                let type = this.allTypes.find(type => type.id === timeline['type_id']);
                                parent = this.$refs['user_' + user.id + '_index_' + dateStart.getDate()][0];

                                div = document.createElement('div');
                                str = type.name + ' (' + dateStart.toLocaleDateString("ru").split(",")[0] + " - " + dateEnd.toLocaleDateString("ru").split(",")[0] + ")";
                                str += '\u000D\u000A' + "с " + dateStart.getHours().toString().padStart(2, "0") + ":" + dateStart.getMinutes().toString().padStart(2, "0");
                                str += " по " + dateEnd.getHours().toString().padStart(2, "0") + ":" + dateEnd.getMinutes().toString().padStart(2, "0");

                                div.className = "timeline";
                                div.style.left = dateStart.getHours() * 60 / 1440 * 100 + "%";
                                div.style.backgroundColor = type.color;

                                rect1 = rect2 = null;
                                left = right = 0;
                                if (dateEnd.getMonth() !== dateStart.getMonth()) {
                                    if (dateStart.getMonth() === this.dateObject.getMonth()) {
                                        rect1 = this.$refs['user_' + user.id + '_index_' + dateStart.getDate()][0].getBoundingClientRect();
                                        rect2 = this.$refs['user_' + user.id + '_index_' + new Date(dateStart.getFullYear(), dateStart.getMonth() + 1, 0).getDate()][0].getBoundingClientRect();
                                        right = rect2.right - 1;
                                    } else if (dateEnd.getMonth() === this.dateObject.getMonth()) {
                                        div.style.left = "0px";
                                        parent = this.$refs['user_' + user.id + '_index_' + new Date(dateEnd.getFullYear(), dateEnd.getMonth(), 1).getDate()][0];
                                        rect1 = parent.getBoundingClientRect();
                                        rect2 = this.$refs['user_' + user.id + '_index_' + dateEnd.getDate()][0].getBoundingClientRect();
                                        left = rect1.left;
                                    }
                                } else {
                                    rect1 = this.$refs['user_' + user.id + '_index_' + dateStart.getDate()][0].getBoundingClientRect();
                                    rect2 = this.$refs['user_' + user.id + '_index_' + dateEnd.getDate()][0].getBoundingClientRect();
                                }


                                if (!left) left = rect1.left + dateStart.getHours() * 60 / 1440 * rect1.width;
                                if (!right) right = rect2.left + dateEnd.getHours() * 60 / 1440 * rect2.width;
                                div.style.width = (right - left) + "px";

                                div.setAttribute('tooltip', str);
                                parent.appendChild(div);

                                div.addEventListener('click', () => {
                                    let item = {...user};
                                    item.timelines = timeline;
                                    this.selectedUser = item;
                                });
                            });
                        }
                    });

                }
            },
        }
    }
</script>

<style scoped>

    a.user__avatar {
        display: inline-block;
        border-radius: 20px;
        overflow: hidden;
    }

    .filters .selected-filter{
        height:30px;
        line-height: 30px;
        margin:8px 4px 0 4px;
        font-size: 18px;
    }
    .filters .selected-filter div.close{
        top:7px;
    }
    .filters .selected-filter div.close,
    .filters .selected-filter div.close:before{
        width: 12px;
        position:absolute;
    }

    .filters__actions > svg,
    .filters__actions > div {
        cursor: pointer;
    }

    div.filters__actions {
        position: absolute;
        right: 16px;
        top: 13px;
    }

    .filters__actions div.close {
        display: inline-block;
        margin-left: 21px;
        margin-top: 8px;
        position: static;
    }

    .filters__actions div.close,
    .filters__actions div.close:before {
        width: 18px;
        height: 2px;
    }

    div.work-calendar__content div.filters > div {
        margin-right: 0;
    }

    .work-calendar__header .tooltip {
        background-color: #ffffff;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
        opacity: 1;
        padding: 14px 8px 19px 19px;
        border-radius: 4px;
        font-size: 13px;
        line-height: 15px;
        position: absolute;
        top: -15px;
        left: 55px;
        width: 319px;
    }

    .work-calendar__header .tooltip:before {
        content: "";
        display: block;
        position: absolute;
        width: 32px;
        height: 26px;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-right: 14px solid #ffffff;
        /*box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);*/
        left: -30px;
        top: 9px;
    }

    .work-calendar__header .tooltip p {
        color: #424242;
    }

    .work-calendar__header .tooltip a {
        text-decoration-line: underline;
        color: #3BC8F5;
        font-weight: bold;
        margin-top: 12px;
    }

    .help-block {
        display: inline-block;
        position: relative;
    }

    .help-block img {
        margin-left: 10px;
        position: relative;
        top: 1.4px;
        height: 16px;
        width: 16px;
        cursor: pointer;
        vertical-align: baseline;
    }

    .work-calendar .table-bordered {
        border: 1px solid #ddd;
    }

    .table-wrapper {
        position: relative;
        padding: 7px 0;
    }

    .calendar-for-employees table th.current-day,
    .calendar-for-employees table td.current-day {
        background: #E7EEF1;
    }

    #employee ul {
        position: absolute;
        z-index: 3000;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #A7A7A7;
    }

    #employee li:hover {
        background-color: rgba(32, 103, 176, 0.18);
    }

    #employee li {
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        font-size: 14px;
        padding: 0 4px;
        cursor: pointer;
    }

    #employee li.selected {
        background-color: #2067B0;
        color: #ffffff;
    }

    .loading {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffffff;
        text-align: center;
        z-index: 1000;
        line-height: 100%;
    }

    .loading img {
        margin-top: 50px;
    }

    .calendar-for-employees table tr td {
        position: relative;
    }

    .calendar-for-employees table tr td:first-child {
        font-size: 14px;
        color: #2067B0;
        padding-left: 7px;
        text-align: left;
    }

    .work-calendar .row {
        margin: 0;
    }

    .work-calendar__header {
        background: #EEF2F4;
        min-height: 68px;
        width: 100%;
        padding: 16px 10px;
    }

    .work-calendar__header .work-calendar__title {
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
    }

    .work-calendar__header .add-record {
        display: block;
        margin-left: auto;
    }

    .add-record {
        background: #3BC8F5;
        border: none;
        padding: 6px 19px 8px 14px;
        width: 161px;
    }

    .add-record > span {
        text-transform: uppercase;
        color: #FFFFFF;
        line-height: 21px;
        vertical-align: middle;
    }

    .add-record span:first-child {
        font-weight: 500;
        font-size: 18px;
        margin-right: 10px;
    }

    .add-record span:last-child {
        font-weight: 900;
        font-size: 11px;
        white-space: nowrap;
    }

    .work-calendar__content {
        padding: 17px 7px 36px;
    }

    .table-calendar {
        width: 100%;
    }

    .calendar-for-employees .weekend {
        background: #F7F7F7;
    }

    .work-calendar div.filters {
        background: #ffffff;
        border: 1px solid #E7EEF1;
        width: 100%;
        position:relative;
        margin-bottom: 37px;
        padding: 0 72px 8px 8px;
        height:auto;
        min-height:46px;
    }

    .filters > div {
        display: inline-block;
        font-size: 13px;
    }

    .filters > div:first-child {
        margin-right: 35px;
    }

    .filters > div > span {
        display: inline-block;
        line-height: 15px;
        width: 73px;
        color: #767676;
    }

    .filters > div > select,
    .filter input {
        width: 202px;
        color: #767676;
    }

    .filter > div {
        height: 22px;
        display: inline-block;
        position: relative;
    }

    .filter input {
        height: 100%;
        caret-color: transparent;
        cursor: default;
        padding-right: 18px;
    }

    .filter .arrow {
        position: absolute;
        width: 7px;
        height: 7px;
        border: 2px solid rgb(118, 118, 118);
        border-top: none;
        border-left: none;
        transform: rotate(46deg);
        right: 7px;
        top: 6px;
    }

    .calendar-for-employees {
        text-align: center;
        margin: 12px 0 30px 0;
    }

    .calendar-for-employees table {
        margin-top: 8px;
    }

    .calendar-for-employees button {
        width: 20px;
        height: 20px;
        background: linear-gradient(339.44deg, #E4ECEF 3.41%, rgba(255, 255, 255, 0) 86.36%), #FFFFFF;
        border: 1px solid #C9D1D2;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.09);
        border-radius: 1px;
        position: relative;
    }

    .calendar-for-employees button:before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        top: 6px;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    .calendar-for-employees button.previous:before {
        left: 2px;
        border-left: 4px solid transparent;
        border-right: 4px solid #828282;
    }

    .calendar-for-employees button.next:before {
        left: 7px;
        border-right: 4px solid transparent;
        border-left: 4px solid #828282;
    }

    .calendar-for-employees .selected-month {
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #000000;
        margin: 0 17px;
        position: relative;
        top: 6px;
    }

    @media screen and (max-width: 680px) {
        .filters > div,
        .filter > div {
            width: 100%;
        }

        .filters > div:last-child {
            margin-top: 10px;
        }

        div.filters select,
        .filter input {
            width: 100%;
        }
    }


</style>
