<template>
    <div class="select">
        <div class="select__input-wrapper">
            <input type="text"
                   v-on:focus="onFocus"
                   v-on:keyup="onKeyUp"
                   v-model="singleValue">
            <div class="selected-filters"
                 v-on:click="onClick($event)">
            </div>
            <div class="btn-close" v-if="this.selected.length"
                 v-on:click="onClear">
                <div class="close"></div>
            </div>
            <div v-bind:class="{'arrow':true,'arrow-top':this.open}" v-on:click="SwitchList"></div>
        </div>
        <div v-bind:class="{'select-list':true,[classForList]:classForList}" v-if="this.open">
            <slot v-if="getList.length" :onScroll="onScroll" :onSelect="onSelect" :data="getList"
                  :id="this.id"></slot>
            <p v-if="!getList.length&&!loading">Ничего не найдено</p>
            <div class="loading" v-if="loading"></div>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex';

    export default {
        name: "FilterSelect",
        props: {type: String, data: Array, id: String, observe: {default: true}, classForList: String},
        data() {
            return {
                selected: [],
                open: false,
                singleValue: "",
            }
        },
        input: null,
        scrollWidth: 0,
        mounted() {
            this.input = this.$el.querySelector('input');
            this.scrollWidth = this.input.scrollWidth;
            document.addEventListener('click', (e) => {
                if (!this.$el.contains(e.target)) this.open = false;
            })

            if (this.observe) {
                let observer = new MutationObserver(() => {

                    if (this.$el.querySelector(".select-list") && this.getList) {
                        let count = this.getList.length;
                        count = count < 5 ? count : 5;
                        let parent = this.$el.querySelector(".select-list ul");
                        if (!parent) return;
                        let child = parent.firstChild;
                        parent.style.height = child.getBoundingClientRect().height * count + "px";
                    }
                });

                observer.observe(this.$el, {
                    childList: true,
                    subtree: true,
                });
            }
            this.changeSizeInput();
        },
        computed: mapGetters(['getList', 'loading']),
        methods: {
            ...mapActions(["fetchList", "next"]),
            ...mapMutations(['updateIds']),
            async SwitchList() {
                this.open = !this.open;
                if (this.open) await this.fetchList({type: this.id, search: this.singleValue});
            },
            onScroll(e) {
                if (Math.floor(e.target.scrollHeight - e.target.getBoundingClientRect().height) <= e.target.scrollTop) this.next();
            },
            async onKeyUp() {
                await this.fetchList({type: this.id, search: this.singleValue});
                let lastFilter = this.$el.querySelector(".selected-filter:last-child");
                if (lastFilter && this.scrollWidth !== this.input.scrollWidth) {
                    this.input.style.cssText = "";
                    let inputRect = this.input.getBoundingClientRect(),
                        lastFilterRect = lastFilter.getBoundingClientRect(),
                        marginTop = this.$el.querySelector(".selected-filter:first-child").getBoundingClientRect().top - inputRect.top;
                    this.input.style.paddingTop = lastFilterRect.bottom - inputRect.top + marginTop + "px";
                }
            },
            onClear() {
                if (this.type === "single") {
                    if (!this.selected.length) return;
                    this.selected[0].checkbox.checked = false;
                    this.selected = [];
                    this.singleValue = "";
                } else if (this.type === "multi") {
                    while (this.selected.length) {
                        let {checkbox, elem} = this.selected.pop();
                        elem.parentElement.removeChild(elem);
                        checkbox.checked = false;
                    }
                }
                this.input.style.cssText = this.singleValue = "";
                this.updateIds({name: this.id, item:null, payload: "REMOVE_ALL"});
            },
            onClick(e) {
                this.open = true;
                if (e.target.classList.contains('selected-filters')) this.input.focus();
            },
            async onFocus() {
                this.open = true;
                await this.fetchList({type: this.id, search: this.singleValue});
            },
            changeSizeInput() {
                this.input.style.cssText = "";
                let firstFilter = this.$el.querySelector(".selected-filter:first-child"),
                    lastFilter = this.$el.querySelector(".selected-filter:last-child");
                if (!firstFilter) return;

                let inputRect = this.input.getBoundingClientRect(),
                    lastFilterRect = lastFilter.getBoundingClientRect(),
                    left = 0, top = 0,
                    marginTop = firstFilter.getBoundingClientRect().top - inputRect.top;

                let clearBtn = this.$el.querySelector(".btn-close");

                if (clearBtn) {
                    if (lastFilterRect.right + 15 >= clearBtn.getBoundingClientRect().left) {
                        this.input.style.paddingTop = lastFilterRect.bottom - inputRect.top + marginTop + "px";
                        return;
                    }
                    this.input.style.paddingRight = inputRect.right + 2 - clearBtn.getBoundingClientRect().left + "px";
                }

                left = lastFilterRect.right - inputRect.left + 14;
                top = lastFilterRect.top - inputRect.top;

                if (left) this.input.style.paddingLeft = left + "px";
                this.input.style.paddingTop = top + "px";

                if (lastFilterRect.bottom > (inputRect.bottom + marginTop)) this.input.style.height = lastFilterRect.bottom - inputRect.top + 8 + "px";
                else if (inputRect.bottom > (lastFilterRect.bottom + marginTop)) this.input.style.height = (lastFilterRect.bottom + marginTop - inputRect.top) + "px";
            },
            async onSelect(event, item) {
                if (this.getList.length === 1 && event.target.checked) {
                    this.singleValue = "";
                    await this.fetchList({type: this.id, search: this.singleValue});
                }

                if (this.type === "single" && event.target.checked) {
                    let items = event.target.closest('ul').querySelectorAll('input');
                    for (let i = 0; i < items.length; i++) {
                        if (items[i].isEqualNode(event.target)) continue;
                        items[i].checked = false;
                    }
                    let remove = this.selected.pop();
                    if (remove) this.updateIds({name: this.id,item:remove.item, payload: 'REMOVE'});

                    this.selected.push({
                        item,
                        checkbox: event.target,
                    });
                    this.updateIds({name: this.id, item, payload: 'ADD'});
                    this.singleValue = item.name;
                } else if (this.type === "single" && !event.target.checked) {
                    this.updateIds({name: this.id, item, payload: 'REMOVE'});
                    this.singleValue = "";
                    this.selected = [];
                }

                if (this.type === 'multi' && event.target.checked) {
                    if (this.selected.length > 10)
                        this.$el.querySelector(".selected-filter").innerHTML = `Выбрано ${this.selected.length} элементов`;
                    else if (this.selected.length === 10) {
                        let filters = this.$el.querySelectorAll(".selected-filter");
                        for (let i = 0; i < filters.length; i++) {
                            filters[i].parentNode.removeChild(filters[i]);
                        }
                        let filter = document.createElement('div');
                        filter.classList.add('selected-filter');
                        filter.innerText = `Выбрано ${this.selected.length + 1} элементов`;
                        filter.style.paddingRight = "16px";
                        this.input.nextSibling.appendChild(filter);
                    }

                    let elem = document.createElement('div'),
                        close = document.createElement("div");
                    elem.classList.add('selected-filter');
                    close.classList.add('close');

                    close.addEventListener('click', (e) => {
                        elem.parentNode.removeChild(elem);

                        let idx = this.selected.findIndex((arg) => arg.item === item);
                        this.selected.splice(idx, 1)[0].checkbox = false;
                        e.stopPropagation();
                        this.changeSizeInput();

                        this.updateIds({name: this.id, item, payload: 'REMOVE'});
                    });

                    elem.innerText = item.name.length > 20 ? item.name.slice(0, 20) + "..." : item.name;
                    elem.appendChild(close);
                    if (this.selected.length < 10) this.input.nextSibling.appendChild(elem);

                    this.selected.push({
                        item,
                        elem,
                        checkbox: event.target,
                    });
                    this.updateIds({name: this.id, item, payload: 'ADD'});
                } else if (this.type === 'multi' && !event.target.checked) {
                    this.updateIds({name: this.id, item, payload: 'REMOVE'});
                    let idx = this.selected.findIndex((arg) => arg.item === item);
                    if (idx > -1) {
                        let select = this.selected[idx];
                        let parent = select.elem.parentNode;
                        if (parent) parent.removeChild(select.elem);
                        this.selected.splice(idx, 1);
                    }
                    if (this.selected.length === 10) {
                        let filter = this.$el.querySelector(".selected-filter");
                        filter.parentNode.removeChild(filter);
                        let sibling = this.input.nextSibling;
                        for (let i = 0; i < this.selected.length; i++) {
                            sibling.appendChild(this.selected[i].elem);
                        }
                    }
                }
                this.changeSizeInput();
            },
        }
    }
</script>

<style scoped>
    .loading {
        margin: 14.5px auto 16.5px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 3px solid #A7A7A7;
        border-top-color: #ffffff;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    .select-list li.select__user label {
        width: 100%;
        position: static;
        padding: 2px 0 2px 4px;
    }

    .select-list li.select__user label:hover,
    .select-list li.select__user input:checked + label {
        background: #F7F7F7;
        border-radius: 5px;
    }

    .select-list li.select__user {
        height: 42px;
    }

    .select-list p {
        padding: 16.5px 0;
        text-align: center;
    }

    .select-list .user__info {
        display: inline-block;
        margin-left: 10px;
    }

    .select-list .user__info a {
        font-size: 16px;
        line-height: 16px;
        color: #2067B0;
        font-weight: bold;
        display: block;
        margin-top: 3px;
    }

    .select-list .user__info span {
        font-size: 14px;
        line-height: 14px;
        color: #A7A7A7;
        position: relative;
        bottom: 5px;
    }

    .select-list li.select__org {
        height: 54px;
    }

    .select-list li.select__org input[type="checkbox"],
    .select-list li.select__user input[type="checkbox"] {
        display: none;
    }


    .select-list li.select__org span {
        font-size: 13px;
        line-height: 15px;
        color: #A7A7A7;
    }

    .select-list li.select__org span:last-child {
        margin-left: 15px;
    }

    .select-list li.select__org span:not(:first-child) {
        margin-top: 3px;
    }

    .select-list li.select__org label {
        line-height: 0;
        padding-top: 11px;
        padding-left: 8px;
        width: 100%;
    }

    .select-list li.select__org span.organization-name {
        display: block;
        font-size: 14px;
        line-height: 16px;
        color: #424242;
    }

    .selected-filters {
        position: absolute;
        top: 0;
        max-width: calc(100% - 65px);
    }

    .btn-close {
        width: 20px;
        height: 20px;
        background: #A7A7A7;
        border-radius: 20px;
        position: absolute;
        top: 9px;
        right: 40px;

    }

    div.btn-close div.close, div.btn-close div.close:before {
        width: 12px;
        background-color: #FFFFFF;
        right: 4px;
        top: 3px;
    }

    div.select__input-wrapper div.arrow-top {
        transform: rotate(-135deg);
        top: 17px;
    }

    .select {
        position: relative;
    }

    .select__input-wrapper .arrow {
        cursor: pointer;
    }

    .select__input-wrapper {
        margin-top: 8px;
        position: relative;
    }

    .select__input-wrapper input {
        width: 100%;
    }

    .select-list {
        background-color: #FFFFFF;
        width: 100%;
        position: absolute;
        box-shadow: 0px 4px 14px 7px rgba(220, 220, 220, 0.11);
        z-index: 30;
    }

    .select-list ul {
        padding: 14.5px 0 16.5px 8px;
        height: 152px;
        overflow-y: auto;
        box-sizing: content-box;
    }

    .select-list:before,
    .select-list:after {
        display: block;
        width: calc(100% - 20px);
        content: "";
        position: absolute;
        background-color: #ffffff;
    }

    .select-list:before {
        height: 14.5px;
        top: 0;
    }

    .select-list:after {
        height: 16.5px;
        bottom: 0;
    }

    .select-list li {
        height: 27.5px;
        position: relative;
    }

    .select-list li:hover {
        background: #F7F7F7;
    }

    .select-list label {
        height: 100%;
        font-size: 14px;
        line-height: 27.5px;
        vertical-align: middle;
        font-weight: normal;
        margin: 0;
        color: #424242;
        position: absolute;
        cursor: pointer;
    }

    .select-list input[type="checkbox"] {
        width: 16px;
        height: 16px;
        margin-left: 8px;
        margin-right: 11px;
        margin-top: 6px;
        position: relative;
        outline: none;
    }

    .select-list input[type="checkbox"]:before {
        content: "";
        display: block;
        background: #FFFFFF;
        border: 1px solid #C9D1D2;
        border-radius: 2px;
        width: inherit;
        height: inherit;
        cursor: pointer;
    }

    .select-list input[type="checkbox"]:after {
        content: "";
        display: none;
        width: 5px;
        height: 10px;
        border: 1px solid #259EC6;
        transform: rotate(-316deg) translate(-5px, -14px);
        border-top: none;
        border-left: none;
        position: absolute;
    }

    .select-list input[type="checkbox"]:checked:after {
        display: block;
    }

    .select-list input[type="checkbox"]:checked:before {
        border: 1px solid #259EC6;
    }

</style>
