<template>
    <div class="popup popup-filter">
        <div class="close" v-on:click="()=>this.$emit('close')"></div>
        <div class="filter-items">
            <div class="filter-item">
                <label>Организация</label>
                <filter-select
                        :type="'single'"
                        ref="select-1"
                        id="org_id"
                        v-slot="org">
                    <ul v-show="org.data" v-on:scroll.passive="org.onScroll($event)">
                        <li v-for="item in org.data" :key="item.id" class="select__org">
                            <input type="checkbox" :id="org.id+'_'+item.id"
                                   v-on:change="org.onSelect($event,item)">
                            <label :for="org.id+'_'+item.id">
                                <span class="organization-name">{{item.name}}</span>
                                <span>ИНН: {{item.inn}}</span>
                                <span>КПП: {{item.kpp}}</span>
                            </label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div class="filter-item">
                <label>Тип записи</label>
                <filter-select
                        :type="'multi'"
                        id="type_id"
                        ref="select-2"
                        v-slot="type">
                    <ul v-show="type.data" v-on:scroll.passive="type.onScroll($event)">
                        <li v-for="item in type.data" :key="item.id">
                            <input type="checkbox" :id="type.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="type.onSelect($event,item)">
                            <label :for="type.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div class="filter-item">
                <label>Участки</label>
                <filter-select
                        :type="'multi'"
                        id="sector_id"
                        ref="select-3"
                        v-slot="sector">
                    <ul v-show="sector.data" v-on:scroll.passive="sector.onScroll($event)">
                        <li v-for="item in sector.data" :key="item.id">
                            <input type="checkbox" :id="sector.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="sector.onSelect($event,item)">
                            <label :for="sector.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div class="filter-item">
                <label>Дома</label>
                <filter-select
                        :type="'multi'"
                        id="house_id"
                        ref="select-4"
                        v-slot="house">
                    <ul v-show="house.data" v-on:scroll.passive="house.onScroll($event)">
                        <li v-for="item in house.data" :key="item.id">
                            <input type="checkbox" :id="house.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="house.onSelect($event,item)">
                            <label :for="house.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div class="filter-item">
                <label>Группы пользователей</label>
                <filter-select
                        :type="'multi'"
                        id="group_id"
                        ref="select-5"
                        v-slot="group">
                    <ul v-show="group.data" v-on:scroll.passive="group.onScroll($event)">
                        <li v-for="item in group.data" :key="item.id">
                            <input type="checkbox" :id="group.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="group.onSelect($event,item)">
                            <label :for="group.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div class="filter-item">
                <label>Должность</label>
                <filter-select
                        :type="'multi'"
                        id="position_id"
                        ref="select-6"
                        v-slot="position">
                    <ul v-show="position.data" v-on:scroll.passive="position.onScroll($event)">
                        <li v-for="item in position.data" :key="item.id">
                            <input type="checkbox" :id="position.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="position.onSelect($event,item)">
                            <label :for="position.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div class="filter-item">
                <label>Сотрудник</label>
                <filter-select
                        :observe="false"
                        type="multi"
                        id="user_id"
                        ref="select-7"
                        classForList="multi-column-list"
                        v-slot="user">
                    <span class="select-title">Сотрудники:</span>
                    <ul v-show="user.data" class="select__users" v-on:scroll.passive="user.onScroll($event)">
                        <li v-for="(item,i) in user.data" :key="i" class="select__user">
                            <input type="checkbox" :id="user.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="user.onSelect($event,item)">
                            <label :for="user.id+'_'+item.id">
                                <a :href="item.url" class="user__avatar" target="_blank">
                                    <img :src="item['avatar_mini']">
                                </a>
                                <div class="user__info">
                                    <a :href="item.url" target="_blank">{{item.name}}</a>
                                    <span>{{item.position}}</span>
                                </div>
                            </label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div class="filter-item">
                <label>Дополнительно</label>
                <filter-select
                        type="multi"
                        id="extra"
                        ref="select-8"
                        v-slot="extra">
                    <ul v-show="extra.data" v-on:scroll.passive="extra.onScroll($event)">
                        <li v-for="item in extra.data" :key="item.id">
                            <input type="checkbox" :id="extra.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="extra.onSelect($event,item)">
                            <label :for="extra.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
        </div>
        <div class="filter_actions">
            <button class="btn-search" v-on:click="Search"><img src="@/assets/icons/search.svg"
                                                                alt=""><span>найти</span></button>
            <button class="btn-reset" v-on:click="onReset">сбросить</button>
            <a href="#" class="close" v-on:click="()=>this.$emit('close')">закрыть</a>
        </div>
    </div>
</template>

<script>
    import FilterSelect from './FilterSelect';
    import {mapMutations, mapActions} from 'vuex'

    export default {
        name: "FilterPopup",
        components: {
            FilterSelect,
        },
        beforeMount() {
            this.onReset();
        },
        methods: {
            Search(){
               this.search();
               this.$emit('close-filter-popup');
            },
            ...mapActions(['search']),
            ...mapMutations(['clearIdsAndList']),
            onReset() {
                for (let key in this.$refs) {
                    this.$refs[key].onClear();
                }
                this.clearIdsAndList();
            }
        },
    }
</script>

<style scoped>

    .popup-filter .select__input-wrapper input:focus {
        box-shadow: 0 0 0.75px 0.75px #3BC8F5;
    }

    .select__org input[type="checkbox"]:checked + label {
        background: #F7F7F7;
    }

    .select-title + ul {
        margin-top: 10px;
    }

    .multi-column-list ul {
        padding: 0;
    }

    span.select-title {
        margin: 42px 0 10px 0;
    }

    ul.select__users {
        max-height: 260px;
        height: auto;
    }

    li.select__user {
        min-width: 312px;
        margin-top: 10px;
    }

    div.popup-filter {
        background: #F7F7F7;
        filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.25));
        max-width: 820px;
        width: 100%;
        z-index: 9999;
        padding: 25px 27px 41px 27px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0%);
        box-shadow: none;
    }

    .popup-filter div.close {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .popup-filter div.close,
    .popup-filter div.close:before {
        width: 15px;
        height: 2px;
        background-color: #A7A7A7;
    }

    .filter-item:not(:first-child) {
        margin-top: 20px;
    }

    .filter-item > label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #A7A7A7;
    }


    .filter_actions {
        margin-top: 40px;
        position: relative;
        text-align: center;
    }

    .filter_actions button,
    .filter_actions a {
        text-transform: uppercase;
        width: 116px;
        height: 40px;
        border-radius: 1px;
        outline: none;
        font-weight: bold;
        font-size: 13px;
        line-height: 38px;
        vertical-align: middle;
    }

    button.btn-search {
        border: none;
        background: #3BC8F5;
        color: #FFFFFF;
    }

    button.btn-search img {
        margin-right: 11px;
        position: relative;
        top: -2px;
    }

    .filter_actions a.close {
        position: absolute;
        right: 0;
        color: #F35564;
        text-decoration: none;
        opacity: 1;
    }

    .filter_actions .btn-search {
        margin-right: 14px;
        line-height: 40px;
    }

    button.btn-reset {
        background-color: #FFFFFF;
        border: 1px solid #C9D1D2;
        color: #767676;
    }


</style>
