<template>
    <div class="calendar selection-period">
        <div class="switch-month">
            <button class="previous"
                    v-on:click="()=>this.dateObject=new Date(this.dateObject.getFullYear(),this.dateObject.getMonth(),0)"></button>
            <span class="selected-month">{{formatMonthAndYear}}</span>
            <button class="next"
                    v-on:click="()=>this.dateObject=new Date(this.dateObject.getFullYear(),this.dateObject.getMonth()+2,0)"></button>
        </div>
        <table>
            <thead>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
            </thead>
            <tbody>
            <tr v-for="(week,index) in updateWeeks" :key="index">
                <td v-for="day in week"
                    v-bind:class="tdClass(day)"
                    v-on:click="selectDate($event,day)"
                    v-on:mouseover="OnMouseOver($event,day)"
                    :key="day.date.getDate()">
                    <div>{{day.date.getDate()}}</div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="time-range">
            <div class="time-counter">
                <span>С:</span>
                <div class="time-counter__arrows" id="from-hour">
                    <button class="time-counter__arrow-plus" v-on:click="validationHours($event,++fromHours)"></button>
                    <button class="time-counter__arrow-minus" v-on:click="validationHours($event,--fromHours)"></button>
                </div>
                <input type="text" v-model="fromHours" id='from-hour-input'
                       v-on:input="validationHours($event,fromHours)">
                <span>:</span>
                <input type="text" v-model="fromMinutes" id='from-minute-input'
                       v-on:input="validationMinutes($event,fromMinutes)">
                <div class="time-counter__arrows" id="from-minutes">
                    <button class="time-counter__arrow-plus"
                            v-on:click="validationMinutes($event,++fromMinutes)"></button>
                    <button class="time-counter__arrow-minus"
                            v-on:click="validationMinutes($event,--fromMinutes)"></button>
                </div>
            </div>
            <div class="time-counter">
                <span>По:</span>
                <div class="time-counter__arrows" id="to-hour">
                    <button class="time-counter__arrow-plus" v-on:click="validationHours($event,++toHours)"></button>
                    <button class="time-counter__arrow-minus" v-on:click="validationHours($event,--toHours)"></button>
                </div>
                <input type="text" v-model="toHours" id="to-hour-input" v-on:input="validationHours($event,toHours)">
                <span>:</span>
                <input type="text" v-model="toMinutes" id='to-minute-input'
                       v-on:input="validationMinutes($event,toMinutes)">
                <div class="time-counter__arrows" id="to-minutes">
                    <button class="time-counter__arrow-plus"
                            v-on:click="validationMinutes($event,++toMinutes)"></button>
                    <button class="time-counter__arrow-minus"
                            v-on:click="validationMinutes($event,--toMinutes)"></button>
                </div>
            </div>
        </div>
        <p v-if="errorMessage" class="error-message">* {{errorMessage}}</p>
        <a href="#" v-on:click.prevent="OnSelect">Выбрать</a>
        <a href="#" v-on:click.prevent="OnClose" style="margin-left:7px">Закрыть</a>
    </div>
</template>

<script>
    export default {
        name: "mini-calendar",
        data() {
            return {
                dateObject: null,
                firstTd: null,
                lastTd: null,
                startSelect: false,
                fromHours: '00',
                fromMinutes: '00',
                toHours: '23',
                toMinutes: '59',
                errorMessage: null,
            };
        },
        computed: {
            formatMonthAndYear() {
                let month = this.dateObject.toLocaleString('ru', {month: "long"});
                month = month[0].toUpperCase() + month.substr(1);
                return month + ", " + this.dateObject.toLocaleString('ru', {year: "numeric"});
            },
            updateWeeks() {
                let weeks = [], days = [];
                const tempDate = new Date(this.dateObject.getTime());

                tempDate.setDate(1);
                let dayOfWeek = tempDate.getDay(),
                    day = tempDate.getDate();

                do {
                    if (dayOfWeek !== 1) tempDate.setDate(day - 1);
                    day = tempDate.getDate();
                    dayOfWeek = tempDate.getDay();
                } while (dayOfWeek !== 1)

                let currentMonth = tempDate.getMonth();

                // eslint-disable-next-line no-constant-condition
                while (true) {

                    days.push({
                        isWeekend: tempDate.getDay() === 6 || tempDate.getDay() === 0,
                        month: currentMonth - this.dateObject.getMonth(),
                        date: new Date(tempDate.getTime()),
                    });
                    tempDate.setDate(day + 1);
                    day = tempDate.getDate();
                    currentMonth = tempDate.getMonth();
                    dayOfWeek = tempDate.getDay();

                    if (dayOfWeek === 1 && days.length) {
                        weeks.push(days);
                        days = [];
                    }

                    if ((currentMonth < this.dateObject.getMonth() && dayOfWeek === 1) ||
                        (currentMonth > this.dateObject.getMonth() && dayOfWeek === 1)) break;
                }
                return weeks;
            }
        },
        beforeMount() {
            this.dateObject = new Date();
        },
        beforeUpdate() {
            console.log("before update");
            /*if (this.firstTd && this.lastTd) {
                if (this.lastTd.date < this.firstTd.date) [this.firstTd, this.lastTd] = [this.lastTd, this.firstTd];
                this.firstTd.children[0].classList.remove("active");
                this.hoverTd(this.firstTd, this.lastTd, Math.sign(this.lastTd.date - this.firstTd.date), "REMOVE");
                this.firstTd = this.lastTd = null;
            }*/
        },
        methods: {
            OnMouseOver(event, {date}) {
                if (!this.startSelect) return;
                let td = event.target;
                if (td.tagName !== "TD") td = td.parentElement;

                let direction = Math.sign(date - this.firstTd.date);

                if (this.lastTd) {
                    let prevDirection = Math.sign(this.lastTd.date - this.firstTd.date);
                    if (direction !== prevDirection)
                        this.hoverTd(this.firstTd, this.lastTd, prevDirection, "REMOVE");
                }

                if (this.lastTd && ((this.lastTd.date < date && direction < 0) || (this.lastTd.date > date && direction > 0)))
                    this.hoverTd(td, this.lastTd, direction, "REMOVE");
                else this.hoverTd(this.firstTd, td, direction, "ADD");

                this.lastTd = td;
                this.lastTd.date = date;
            },
            hoverTd(first, last, direction, action) {
                let temp = last, prevTemp = temp;
                while (!first.isEqualNode(temp)) {
                    if (temp.children[0].classList.contains("active") && action === "REMOVE") temp.children[0].classList.remove("active");
                    else if (!temp.children[0].classList.contains("active") && action === "ADD") temp.children[0].classList.add("active");

                    if (direction < 0) temp = temp.nextElementSibling;
                    else if (direction > 0) temp = temp.previousElementSibling;
                    if (!temp) {
                        prevTemp = prevTemp.parentElement;
                        if (direction < 0) temp = prevTemp.nextElementSibling.firstElementChild;
                        else if (direction > 0) temp = prevTemp.previousElementSibling.lastElementChild;
                    }
                    prevTemp = temp;
                }
            },
            tdClass(day) {
                let style = [];
                if (day.isWeekend) style.push("weekend");
                if (day.month !== 0) style.push("other-month");

                return style.join(" ");
            },
            selectDate(event, day) {
                if (!this.startSelect && this.firstTd && this.lastTd) {
                    if (this.lastTd.date < this.firstTd.date) [this.firstTd, this.lastTd] = [this.lastTd, this.firstTd];
                    this.firstTd.children[0].classList.remove("active");
                    this.hoverTd(this.firstTd, this.lastTd, Math.sign(this.lastTd.date - this.firstTd.date), "REMOVE");
                    this.firstTd = this.lastTd = null;
                }

                let td = event.target;
                if (td.tagName !== "TD") td = td.parentElement;
                td.date = day.date;
                if (this.startSelect) this.lastTd = td;
                else this.firstTd = td;

                td = td.children[0];

                if (!this.startSelect) {
                    if (td.classList.contains("active")) td.classList.remove("active");
                }

                if (!td.classList.contains("active")) td.classList.add("active");
                this.startSelect = !this.startSelect;
            },
            validationHours(event, time) {
                let hour = Number.parseInt(time);
                if (isNaN(hour) || hour > 23) hour = 0;
                if (hour < 0) hour = 23;

                time = hour.toString().padStart(2, '0');
                if (event.target.parentElement.id === 'from-hour' || event.target.id === 'from-hour-input') {
                    this.fromHours = time;
                    document.getElementById('from-hour-input').value = this.fromHours;
                }

                if (event.target.parentElement.id === 'to-hour' || event.target.id === 'to-hour-input') {
                    this.toHours = time;
                    document.getElementById('to-hour-input').value = this.toHours;
                }
            }
            ,
            validationMinutes(event, time) {
                let minute = Number.parseInt(time);
                if (isNaN(minute) || minute > 59) minute = 0;
                if (minute < 0) minute = 59;

                time = minute.toString().padStart(2, '0');
                if (event.target.parentElement.id === 'from-minutes' || event.target.id === 'from-minute-input') {
                    this.fromMinutes = time;
                    document.getElementById('from-minute-input').value = this.fromMinutes;
                }

                if (event.target.parentElement.id === 'to-minutes' || event.target.id === 'to-minute-input') {
                    this.toMinutes = time;
                    document.getElementById('to-minute-input').value = this.toMinutes;
                }
            },
            OnSelect() {
                if (!this.firstTd && !this.lastTd) {
                    this.errorMessage="Период не выбран";
                    return;
                }
                if (this.lastTd.date < this.firstTd.date){
                    this.errorMessage="Конечная дата не может быть больше начальной";
                    return;
                }
                const fromTime = new Date(), toTime = new Date();

                fromTime.setHours(this.fromHours);
                fromTime.setMinutes(this.fromMinutes);

                toTime.setHours(this.toHours);
                toTime.setMinutes(this.toMinutes);

                let period = [];

                period.push(this.firstTd.date);
                if (this.firstTd.date !== this.lastTd.date) period.push(this.lastTd.date);
                else if (this.firstTd.date === this.lastTd.date && this.fromHours > this.toHours
                    || (this.fromHours === this.toHours && this.fromMinutes > this.toMinutes)) {
                    let date = new Date(this.firstTd.date.getTime());
                    date.setDate(this.firstTd.date.getDate() + 1);
                    period.push(date);
                }

                this.$emit('add-period', {
                    period,
                    fromTime,
                    toTime
                });
            },
            OnClose() {
                this.$emit('close-mini-calendar');
            }

        }
    }
</script>

<style scoped>
    .error-message{
        color: #F35564;
        font-size: 11px;
    }
    .time-counter {
        display: inline-block;
    }

    .selection-period th,
    .selection-period td {
        width: 35px;
        height: 35px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        border: 3px solid #ffffff;
    }

    .selection-period th {
        color: #87ABCD;
    }

    .selection-period {
        display: inline-block;
        padding: 18px 14px 18px 10px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
        text-align: center;
        position: absolute;
        z-index: 200;
    }

    .selection-period table {
        border-spacing: 0;
        border-collapse: collapse;
        margin-top: 8px;
    }

    .selection-period table td {
        cursor: pointer;
    }

    .selection-period table td div.active {
        border: 1px solid #B8D4EC;
        border-radius: 50px;
        line-height: 30px;
        vertical-align: middle;
    }

    td.other-month.weekend {
        color: #CE8A91;
    }

    .selection-period .weekend {
        color: #F35564;
    }

    .other-month {
        color: #C9C9C9;
    }

    .time-range input {
        width: 28px;
        height: 21px;
        border: 1px solid #C9C9C9;
        box-sizing: border-box;
        text-align: center;
    }

    .time-counter__arrow-minus,
    .time-counter__arrow-plus {
        padding: 0;
        width: 0;
        height: 0;
        border: none;
        background-color: #FFFFFF;
        outline: none;
        border-left: 3.5px solid transparent;
        border-right: 3.5px solid transparent;
    }

    .time-counter__arrow-plus {
        border-bottom: 3.5px solid #C9C9C9;
    }

    .time-counter__arrow-minus {
        border-top: 3.5px solid #C9C9C9;
    }

    .time-counter__arrows {
        padding: 2px 0;
    }

    .time-counter__arrows > button {
        display: block;
    }

    .time-counter__arrows > button:first-child {
        margin-bottom: 10px;
    }

    .time-range {
        margin: 17px 0 18px 0;
    }

    .time-range input,
    .time-range div {
        display: inline-block;
        vertical-align: bottom;
        /*border:1px solid red;*/
    }

    .time-range span:nth-child(odd) {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #424242;
        margin-left: 12px;
    }

    .time-range span:nth-child(even) {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #C9C9C9;
    }

    .selection-period a {
        font-size: 12px;
        line-height: 14px;
    }

    .selection-period .selected-month {
        margin: 0 67px;
    }

    .selection-period .switch-month button {
        background-color: #ffffff;
        width: 0;
        height: 0;
        outline: none;
        padding: 0;
        border: none;
        position: relative;
        bottom: 7px;
    }

    .selection-period .next:before,
    .selection-period .next:after,
    .selection-period .previous:before,
    .selection-period .previous:after {
        content: "";
        width: 5px;
        height: 5px;
        border: 1px solid #2067B0;
        border-top: none;
        border-right: none;
        transform: rotate(45deg);
        display: block;
        position: absolute;
    }

    .selection-period .previous:before,
    .selection-period .previous:after {
        transform: rotate(45deg);
    }

    .selection-period .next:before,
    .selection-period .next:after {
        transform: rotate(-135deg);
    }

    .selection-period .previous:before {
        transform: translateX(-3px) rotate(45deg);
    }

    .selection-period .next:after {
        transform: translateX(3px) rotate(-135deg);
    }

    .selection-period .selected-month {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #2067B0;
    }

</style>
