<template>
    <div class="popup record-addition">
        <mini-calendar v-show="this.openCalendar" v-on:add-period="addPeriod"
                       v-on:close-mini-calendar="()=>this.openCalendar=false"></mini-calendar>
        <div class="popup__header">
            <span class="popup__title">Добавить новую запись</span>
            <div class="close" v-on:click="close"></div>
        </div>
        <div class="popup__content">
            <div>
                <label>Выберите сотрудника*</label>
                <filter-select
                        :type="'single'"
                        id="user_id"
                        ref="select-5"
                        v-slot="user">
                    <ul v-show="user.data" class="select__users" v-on:scroll.passive="user.onScroll($event)">
                        <li v-for="(item,i) in user.data" :key="i" class="select__user">
                            <input type="checkbox" :id="user.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="user.onSelect($event,item)">
                            <label :for="user.id+'_'+item.id">
                                <a :href="item.url" class="user__avatar" target="_blank">
                                    <img :src="item['avatar_mini']">
                                </a>
                                <a :href="item.url" target="_blank">{{item.name}}</a>
                            </label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div>
                <label>Тип записи*</label>
                <filter-select
                        :type="'single'"
                        id="type_id"
                        ref="select-2"
                        v-slot="type">
                    <ul v-show="type.data" v-on:scroll.passive="type.onScroll($event)" class="type__list">
                        <li v-for="item in type.data" :key="item.id">
                            <input type="checkbox" :id="type.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="type.onSelect($event,item)">
                            <label :for="type.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div>
                <label>Участки*</label>
                <filter-select
                        :type="'multi'"
                        id="sector_id"
                        ref="select-3"
                        v-slot="sector">
                    <ul v-show="sector.data" v-on:scroll.passive="sector.onScroll($event)" class="sector__list">
                        <li v-for="item in sector.data" :key="item.id">
                            <input type="checkbox" :id="sector.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="sector.onSelect($event,item)">
                            <label :for="sector.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div>
                <label>Дома*</label>
                <filter-select
                        :type="'multi'"
                        id="house_id"
                        ref="select-4"
                        v-slot="house">
                    <ul v-show="house.data" v-on:scroll.passive="house.onScroll($event)" class="house__list">
                        <li v-for="item in house.data" :key="item.id">
                            <input type="checkbox" :id="house.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="house.onSelect($event,item)">
                            <label :for="house.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div>
                <label>Комментарий</label><input type="text" v-model="comment">
            </div>
            <div class="period">
                <span>Период *</span>
                <ul v-if="periods.length">
                    <li v-for="({period,str},index) in allPeriods" :key="index">
                        <span>{{str}}</span>
                        <div class="close" v-on:click="removeTimeline(period,index)"></div>
                    </li>
                </ul>
            </div>
            <a class="add-period" v-on:click.prevent="openMiniCalendar">Добавить период</a>
            <div class="error" v-if="this.error">*{{this.error}}</div>
        </div>
        <div class="popup__actions">
            <button v-on:click="addRecord">добавить</button>
            <a href="#" v-on:click.prevent="close">Закрыть</a>
        </div>
        <div class="error-popup" v-if="this.openErrorPopup" v-on:click="()=>this.openErrorPopup=false">
            <div class="close"></div>
            <span>Ошибка</span>
            <p>Неизвестная ошибка. Попробуйте повторить запрос.</p>
        </div>
    </div>
</template>

<script>
    import {mapActions, mapMutations, mapGetters} from 'vuex';
    import MiniCalendar from "./MiniCalendar";
    import formatMonth from "../../helpers/formatMonth";
    import FilterSelect from "./FilterSelect";

    export default {
        name: "new-record-popup",
        components: {
            MiniCalendar,
            FilterSelect
        },
        data() {
            return {
                comment: "",
                openCalendar: false,
                openErrorPopup: false,
                periods: [],
                user: 0,
                type: 0,
                error: null,
            };
        },
        computed: {
            ...mapGetters(['allTypes', 'allUsers']),
            allPeriods() {
                let strs = [];
                let str = "", fromMonth = "", toMonth = "", fromYear = "", toYear = "";
                this.periods.forEach(({period, fromTime, toTime}) => {
                    str = fromMonth = toMonth = fromYear = toYear = "";
                    if (period.length === 2) {
                        if (period[0].getMonth() !== period[1].getMonth()) fromMonth = " " + formatMonth(period[0]);
                        toMonth = " " + formatMonth(period[1]);

                        if (period[0].getFullYear() !== period[1].getFullYear()) {
                            fromYear = " " + period[0].toLocaleString('ru', {year: "numeric"}) + " г. ";
                        }
                        toYear = " " + period[1].toLocaleString('ru', {year: "numeric"}) + " г. ";
                        str += "C " + period[0].getDate() + fromMonth + fromYear;
                        str += " по " + period[1].getDate() + toMonth + toYear;
                    } else {
                        toMonth = " " + formatMonth(period[0]);
                        toYear = " " + period[0].toLocaleString('ru', {year: "numeric"}) + " г. ";
                        str += period[0].getDate() + " " + toMonth + " " + toYear;
                    }
                    str += "c " + fromTime.getHours().toString().padStart(2, '0') + ":" + fromTime.getMinutes().toString().padStart(2, '0');
                    str += " по " + toTime.getHours().toString().padStart(2, '0') + ":" + toTime.getMinutes().toString().padStart(2, '0');
                    strs.push({str, period});
                });
                return strs;
            }
        },
        beforeMount() {
            this.clearIdsAndList();
        },
        mounted() {
            if (!this.allTypes.length) this.fetchTypes();
            if (!this.allUsers.length) this.fetchUsers();
        },
        beforeDestroy() {
            this.clearIdsAndList();
        },
        methods: {
            ...mapMutations(['clearIdsAndList']),
            ...mapActions(['fetchTypes', "fetchUsers", "createRecord"]),
            openMiniCalendar() {
                this.openCalendar = true;
            },
            addPeriod(period) {
                this.periods.push(period);
                this.openCalendar = false;
            },
            close() {
                this.$emit('close-new-record-popup');
            },
            removeTimeline(timeline) {
                this.periods = this.periods.filter(({period}) => period !== timeline);
            },
            addRecord() {
                for (let key in this.$refs) {
                    if (this.$refs[key].selected.length === 0) {
                        this.error = "Не все поля заполнены!";
                        return;
                    }
                }
                this.error = null;
                this.openErrorPopup = !this.createRecord({periods: this.periods, description: this.comment});
                this.Close();
            }
        }

    }
</script>

<style scoped>
    .error-popup {
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
        padding: 30px;
        font-size: 18px;
        bottom: 180px;
    }

    .error-popup div.close {
        position: absolute;
        right: 13px;
        top: 14px;
    }

    .error-popup span {
        font-weight: bold;
    }

    .error-popup p {
        margin: 5px 0 0 0;
    }

    div.record-addition div.select__input-wrapper input[type="text"] {
        background: #FFFFFF;
        border: 0.75px solid #C9D1D2;
        box-sizing: border-box;
        border-radius: 1px;
    }

    .error {
        font-size: 11px;
        bottom: -12px;
        position: absolute;
    }

    .record-addition .selection-period {
        left: 174px;
        top: 130px;
    }

    .record-addition .popup__content {
        position: relative;
        padding: 21px 26px 24px 24px;
    }

    .record-addition .popup__content {
        max-width: 442px;
        width: 442px;
    }

    .record-addition .popup__content > div {
        margin-bottom: 16px;
    }

    .record-addition .popup__content input[type="text"],
    .record-addition .popup__content select {
        width: 100%;
    }

    .record-addition .popup__content label,
    .record-addition .popup__content .period > span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #424242;
        margin-bottom: 6px;
    }

    .popup__actions button {
        width: 93px;
        height: inherit;
        background: #BBED21;
        border-radius: 1px;
        border: none;
        outline: none;
        color: #424242;
        text-transform: uppercase;
        font-weight: 500;
    }

    .popup__actions a {
        text-decoration: underline;
        font-weight: 600;
    }

    .record-addition .popup__actions a {
        color: #F35564;
        margin-left: 5px;
    }

    a, .add-period {
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-weight: 500;
        color: #2067B0;
        cursor: pointer;
    }

    .period .close {
        margin-left: 6px;
        display: inline-block;
        margin-bottom: 3.5px;
        float: none;
    }

</style>
