<template>
    <div class="popup record-information" v-if="selectedUser">
        <div class="popup__header">
            <span class="popup__title">Информация о записи</span>
            <div class="close" v-on:click="close"></div>
        </div>
        <div class="popup__content">
            <div>
                <span>ФИО Сотрудника:</span>
                <div class="user-info" v-if="this.currentId!=='user'">
                    <span>{{selectedUser.user.name}}</span>
                    <img src="@/assets/icons/pen.png" alt="" v-on:click="()=>this.currentId='user'">
                </div>
                <filter-select
                        v-else
                        :type="'single'"
                        id="user_id">
                    <template v-slot:default="user">
                        <ul v-show="user.data" class="select__users" v-on:scroll.passive="user.onScroll($event)">
                            <li v-for="(item,i) in user.data" :key="i" class="select__user">
                                <input type="checkbox" :id="user.id+'_'+item.id"
                                       :checked="check(item)"
                                       :ref="'user_'+item.id"
                                       v-on:change="user.onSelect($event,item)">
                                <label :for="user.id+'_'+item.id">
                                    <a :href="item.url" class="user__avatar" target="_blank">
                                        <img :src="item['avatar_mini']">
                                    </a>
                                    <a :href="item.url" target="_blank">{{item.name}}</a>
                                </label>
                            </li>
                        </ul>
                    </template>
                </filter-select>
            </div>
            <div>
                <span>Тип записи</span>
                <div v-if="this.currentId!=='type'">
                    <span>
                        {{selectedUser.type.name}}
                    </span>
                    <img src="@/assets/icons/pen.png" alt="" v-on:click="()=>this.currentId='type'">
                </div>
                <filter-select
                        v-else
                        :type="'single'"
                        id="type_id"
                        ref="select-2"
                        v-slot="type">
                    <ul v-show="type.data" v-on:scroll.passive="type.onScroll($event)" class="type__list">
                        <li v-for="item in type.data" :key="item.id">
                            <input type="checkbox" :id="type.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="type.onSelect($event,item)">
                            <label :for="type.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div>
                <span>Участки</span>
                <div v-if="selectedUser.sectors&&this.currentId!=='sector'">
                <span>
                    {{this.sectors}}
                </span>
                    <img src="@/assets/icons/pen.png" alt="" v-on:click="()=>this.currentId='sector'">
                </div>
                <filter-select
                        v-else
                        :type="'multi'"
                        id="sector_id"
                        ref="select-3"
                        v-slot="sector">
                    <ul v-show="sector.data" v-on:scroll.passive="sector.onScroll($event)" class="sector__list">
                        <li v-for="item in sector.data" :key="item.id">
                            <input type="checkbox" :id="sector.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="sector.onSelect($event,item)">
                            <label :for="sector.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div>
                <span>Дома</span>
                <div v-if="selectedUser.houses&&this.currentId!=='house'">
                <span>
                    {{this.houses}}
                </span>
                    <img src="@/assets/icons/pen.png" alt=""  v-on:click="()=>this.currentId='house'">
                </div>
                <filter-select
                        v-else
                        :type="'multi'"
                        id="house_id"
                        ref="select-4"
                        v-slot="house">
                    <ul v-show="house.data" v-on:scroll.passive="house.onScroll($event)" class="house__list">
                        <li v-for="item in house.data" :key="item.id">
                            <input type="checkbox" :id="house.id+'_'+item.id"
                                   :checked="item.checked"
                                   v-on:change="house.onSelect($event,item)">
                            <label :for="house.id+'_'+item.id">{{item.name}}</label>
                        </li>
                    </ul>
                </filter-select>
            </div>
            <div>
                <span>Комментарий</span>
                <div v-if="this.currentId!=='comment'">
                    <span>{{selectedUser.description}}</span>
                    <img src="@/assets/icons/pen.png" alt="" v-on:click="()=>this.currentId='comment'">
                </div>
                <div class="select__input-wrapper comment" v-else>
                    <input type="text" v-model="this.comment">
                </div>
            </div>
            <div>
                <span>Период</span>
                <div class="period-info">
                    <span>{{period}}</span>
                </div>
            </div>
            <div>
                <span>Продолжительность:</span>
                <div class="duration-info">
                    <span>{{duration}}</span>
                </div>
            </div>
        </div>
        <div class="popup__actions">
            <a href="#" v-on:click.prevent="close">Закрыть</a>
            <a href="#" v-on:click.prevent="deleteRecord">Удалить запись</a>
        </div>
    </div>
</template>

<script>
    import {mapActions,mapMutations/*, mapGetters*/} from 'vuex'
    import formatMonth from "../../helpers/formatMonth";
    import FilterSelect from "./FilterSelect";

    export default {
        name: "record-info-popup",
        props: ['user', 'types'],
        data() {
            return {
                selectedUser: null,
                sectors: null,
                houses: null,
                currentId: null,
                comment:""
            }
        },
        components: {
            FilterSelect
        },
        computed: {
            //...mapGetters(["selectedUser"]),
            type() {
                return this.types && this.types.find(type => this.user.timelines['type_id'] === type.id).name;
            },
            period() {
                let {start, end} = this.user.timelines;
                start = new Date(start);
                end = new Date(end);

                let month = formatMonth(start);
                let str = "С " + start.getDate().toString().padStart(2, "0") + " " + month + " " + start.getHours().toString().padStart(2, "0") + ":" + start.getMinutes().toString().padStart(2, "0");
                month = formatMonth(end);
                str += " по " + end.getDate().toString().padStart(2, "0") + " " + month + " " + end.getHours().toString().padStart(2, "0") + ":" + end.getMinutes().toString().padStart(2, "0");
                return str;
            },
            duration() {

                let milliseconds = new Date(this.user.timelines.end).getTime() - new Date(this.user.timelines.start).getTime();
                let duration = [];
                duration[0] = Math.floor(milliseconds / 1000 / 60 / 60 / 24);
                duration[1] = Math.floor(milliseconds / 1000 / 60 / 60 - duration[0] * 24);
                duration[2] = Math.floor(milliseconds / 1000 / 60 - (duration[0] * 24 + duration[1]) * 60);

                let arr = [
                    ["день", "дня", "дней"],
                    ["час", "часа", "часов"],
                    ["минута", "минуты", "минут"]
                ];

                let str = [];
                let tens = 0, tail = 0;
                for (let i = 0; i < duration.length; i++) {
                    if (duration[i] === 0) continue;
                    str.push(duration[i]);
                    tens = Math.floor(duration[i] % 100 / 10);
                    tail = Math.floor(duration[i] % 10);
                    if (tail === 1) str.push(arr[i][0]);
                    else if (tail >= 2 && tail <= 4 && tens !== 1) str.push(arr[i][1]);
                    else str.push(arr[i][2]);
                }
                return str.join(" ");
            },
        },
        async created() {
            this.clearIdsAndList();
            //await this.selectUser(862);
            //await this.selectUser(this.user.id);
            this.selectedUser = {
                "id": 123,
                "user_id": 666,
                "type_id": 1,
                "user": {
                    "name": "User user",
                },
                "type": {
                    "name": "рабочий день",
                },
                "description": "12121",
                "start": "2020-12-31 00:00:00",
                "end": "2021-01-01 10:00:00",
                "sectors": [
                    {
                        "id": 2,
                        "name": "Участок1"
                    },
                    {
                        "id": 3,
                        "name": "Участок1"
                    }
                ],
                "houses": [
                    {
                        "id": 3,
                        "name": "ПЕР.КАМЕРНЫЙ, д. 38"
                    },
                    {
                        "id": 4,
                        "name": "ПЕР.КАМЕРНЫЙ, д. 42"
                    },
                    {
                        "id": 5,
                        "name": "ПР-КТ.КОСМИЧЕСКИЙ, д. 109"
                    }
                ]
            };
            this.generateString();
            console.log(this.selectedUser);
        },
        updated() {
            console.log("updated");
            console.log(this.$refs);
        },
        methods: {
            check(item) {
                return item.id === this.selectedUser.user_id;
            },
            generateString() {
                //if (!this.selectedUser || !this.selectedUser.sectors) this.sectors=null;
                let params = {
                    "sectors": ["участок", "участка", "участков"],
                    "houses": ["дом", "дома", "домов"],
                };

                let arr, str, number, tens, tail;
                for (let type in params) {
                    arr = params[type];
                    if (this.selectedUser[type] === undefined) continue;
                    number = this.selectedUser[type].length;
                    str = `Выбрано ${number} `;
                    tens = Math.floor(number % 100 / 10);
                    tail = Math.floor(number % 10);
                    if (tail === 1) str += arr[0];
                    else if (tail >= 2 && tail <= 4 && tens !== 1) str += arr[1];
                    else str += arr[2];
                    this[type] = str;
                }


                //this.sectors=str;
            },
            ...mapActions(['deleteTimeline', "selectUser"]),
            ...mapMutations(["clearIdsAndList"]),
            close() {
                this.$emit('close-record-info-popup');
            },
            deleteRecord() {
                this.deleteTimeline(this.user.timelines.id);
                this.close();
            },
        }
    }
</script>

<style scoped>
    .comment input{
        width:100%;
    }
    .user-info span, .duration-info span, .period-info span {
        text-decoration: underline;
        font-weight: 700;
    }

    .record-information .user__avatar {
        margin-left: 6px;
    }

    .record-information img {
        width: 12px;
        height: 12px;
        cursor: pointer;
    }

    .record-information .popup__content {
        padding: 15px 17px 17px;
    }

    .record-information .popup__content > div {
        margin-bottom: 14px;
    }

    .record-information .popup__content > div:last-child {
        margin-bottom: 0;
    }

    .record-information .popup__content > div > span:first-child {
        width: 100%;
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
        color: #424242;
    }

    .record-information .popup__content > div > span {
        display: block;
        margin-top: 4px;
    }

    .record-information .popup__content > div > div > span {
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: #2067B0;
    }

    .record-information .popup__content > div:first-child > span:last-child {
        text-decoration-line: underline;
    }

    .record-information .popup__actions {
        line-height: 35px;
    }

    .record-information .popup__actions a {
        text-transform: none;
        font-weight: 600;
    }

    .record-information .popup__actions a:first-child {
        margin-right: 40px;
        color: #2067B0;
    }

    .record-information .popup__actions a:last-child {
        color: #F35564;
    }

</style>
