<template>
    <div class="filters-popup">
        <div class="filters-popup__header">
            <span>Фильтр: {{this.allTypes&&this.allTypes.find(type=>type.selected===true)?"включен":"выключен"}}</span>
            <div class="close" v-on:click="()=>this.$emit('close-type-list')"></div>
        </div>
        <ul class="filters-popup__body">
            <li><input type="checkbox" id="all" v-on:change="selectAll" v-model="checked">
                <label for="all">показать все типы</label>
            </li>
            <li v-for="(type,index) in allTypes" :key="'type_'+index"
                v-bind:style="{backgroundColor: type.color}">
                <input type="checkbox" :id="'type_'+index" :checked="type.selected"
                       v-on:change="switchType($event,type.id)">
                <label :for="'type_'+type.id">{{type.name}}</label>
            </li>
        </ul>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from 'vuex';

    export default {
        name: "type-list",
        data() {
            return {
                checked: true,
            }
        },
        computed: {
            ...mapGetters(['allTypes']),
            isSelected() {
                for (let type in this.allTypes) {
                    if (type.selected === false) return false;
                }
                return true;
            }
        },
        async mounted() {
            if (!this.allTypes.length) await this.fetchTypes();
            this.showByTypes(this.allTypes.map(({id}) => id));
        },
        methods: {
            ...mapActions(['fetchTypes', 'addType', 'removeType', 'showByTypes']),
            selectAll(event) {
                let str = "";
                if (event.target.checked) {
                    this.showByTypes(this.allTypes.map(({id}) => id));
                    str = "Все";
                } else {
                    this.showByTypes([]);
                    str = "Не выбрано";
                }
                this.$emit("set-input-record", str);
            },
            switchType(event, id) {
                if (event.target.checked) this.addType(id)
                else {
                    this.removeType(id);
                    this.checked = false;
                }

                let str = [];
                this.allTypes.forEach(type => {
                    if (type.selected) str.push(type.name);
                });
                str = str.join(", ");

                this.$emit("set-input-record", str);
            }
        }
    }
</script>

<style scoped>
    .filters-popup {
        position: absolute;
        z-index: 3000;
        width: 100%;
        border: 1px solid #A7A7A7;
    }

    .filters-popup__body {
        background-color: #FFFFFF;
        padding: 1px;
    }

    .filters-popup__body > li {
        margin-top: 1px;
        height: 17px;
        position: relative;
    }

    .filters-popup__body label {
        height: 100%;
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
        margin: 0;
        position: absolute;
    }

    .filters-popup__body input[type="checkbox"] {
        width: 12px;
        height: 12px;
        margin: 0 4px;
        position: relative;
    }

    .filters-popup__body input[type="checkbox"]:before {
        content: "";
        display: block;
        background: #F7F7F7;
        border: 1px solid #A7A7A7;
        box-sizing: border-box;
        border-radius: 2px;
        width: inherit;
        height: inherit;
    }

    .filters-popup__body input[type="checkbox"]:after {
        content: "";
        display: none;
        width: 4px;
        height: 7px;
        border: 2px solid #424242;
        transform: rotate(-316deg) translate(-4px, -10px);
        border-top: none;
        border-left: none;
        position: absolute;
    }

    .filters-popup__body input[type="checkbox"]:checked:after {
        display: block;
    }

    .filters-popup__body input[type="checkbox"]:checked {
        background-color: #FFFFFF;
    }

    .filters-popup__header {
        background: linear-gradient(180deg, #4E6AA1 0%, #23468A 63.33%);
        color: #EEF2F4;
        padding: 5px 4px 6px 4px;
        font-weight: bold;
        font-size: 11px;
        line-height: 13px;
    }

    .filters-popup__header .close {
        width: 14px;
        height: 14px;
        border: 2px solid #EEF2F4;
        position: relative;
        opacity: 1;
    }

    .filters-popup__header .close:after,
    .filters-popup__header .close:before {
        content: "";
        display: block;
        height: 2px;
        background-color: #EEF2F4;
        width: 9px;
        position: absolute;
    }

    .filters-popup__header .close:before {
        transform: translate(0.5px, 4px) rotate(45deg);
    }

    .filters-popup__header .close:after {
        transform: translate(0.5px, 4px) rotate(-45deg);
    }

</style>
