<template>
    <div id="app">
        <!--<filter-popup></filter-popup>-->
        <calendar-user-execute></calendar-user-execute>
    </div>
</template>

<script>
    import CalendarUserExecute from "./components/CalendarUserExecute/CalendarUserExecute";
    //import FilterPopup from "./components/CalendarUserExecute/FilterPopup";

    export default {
        name: 'App',
        components: {
            CalendarUserExecute,
            //FilterPopup
        }
    }
</script>

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    button {
        outline: none;
    }

    th, tr {
        height: 26px;
        line-height: 26px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    table thead tr th {
        text-align: center;
        font-weight: normal;
        vertical-align: middle;
        font-size: 11px;
        color: #2067B0;
    }

    .popup {
        position: absolute;
        z-index: 100;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        padding: 21px 9px 19px 9px;
        background: #FFFFFF;
        box-shadow: 0px 0px 7px 5px rgba(119, 119, 119, 0.07);
        max-width: 460px;
        width: 100%;
    }

    .popup__header {
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;
        color: #828282;
        margin-bottom: 13px;
        padding-left: 9px;
        padding-right: 11px;
    }

    .popup__actions {
        margin-top: 14px;
        height: 35px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
    }

    .popup div.close {
        cursor: pointer;
        margin-top: 6px;
        width: 14px;
        height: 3px;
        border-radius: 50px;
        background-color: #C9C9C9;
        transform: rotate(45deg);
        opacity: 1;
        position: static;
    }

    .popup div.close:before {
        content: "";
        display: block;
        width: 14px;
        height: 3px;
        border-radius: 50px;
        background-color: #C9C9C9;
        transform: rotate(-90deg);
    }

    .popup__content {
        background: #EEF2F4;
    }

    .work-calendar .timeline {
        position: absolute;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 7px;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        white-space: nowrap;
        cursor: pointer;
        left: 0;
        top: 0;
        height: 100%;
        z-index: 30;
    }

    .selected-filter {
        position: relative;
        background: #BCEDFC;
        height: 25px;
        padding: 0 38px 0 16px;
        margin: 8px 4px 0 8px;
        display: inline-block;
        line-height: 25px;
        vertical-align: middle;
        font-size: 18px;
    }

    .selected-filter div.close {
        right: 8px;
        top: 5px;
        width: 12px;
        background-color: #767676;
    }

    .selected-filter div.close:before {
        width: 12px;
        background-color: #767676;
    }

    .arrow {
        position: absolute;
        width: 7px;
        height: 7px;
        border: 2px solid #767676;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
    }

    div.close {
        position: absolute;
        cursor: pointer;
        margin-top: 6px;
        width: 14px;
        height: 3px;
        border-radius: 50px;
        background-color: #C9C9C9;
        transform: rotate(45deg);
        opacity: 1;
    }

    div.close:before {
        content: "";
        display: block;
        width: 14px;
        height: 3px;
        border-radius: 50px;
        background-color: #C9C9C9;
        transform: rotate(-90deg);
    }

    [tooltip]:after {
        position: absolute;
        display: none;
        user-select: none;
        pointer-events: none;
        line-height: 1;
    }

    [tooltip]::after {
        content: attr(tooltip);
        z-index: 1000;
        text-align: center;
        min-width: 3em;
        max-width: 50em;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.7ch 1.5ch;
        border-radius: .3ch;
        box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
        background: #333;
        color: #fff;
    }

    [tooltip]:hover::after {
        display: block;
    }

    [tooltip]::after {
        bottom: 0;
        right: calc(100% + 5px);
    }

    div.select div.multi-column-list {
        bottom: 84px;
        padding: 42px 82px 52px 40px;
        box-shadow: 0px 4px 14px rgba(220, 220, 220, 0.11);
    }

    div.select div.multi-column-list::before {
        display: none;
    }

    div.select div.multi-column-list::after {
        height: 0;
        width: 0;
        border: 17px solid transparent;
        border-top: 17px solid #ffffff;
        background-color: transparent;
        bottom: -33px;
    }

    .popup-filter .select__input-wrapper .arrow {
        top: 15px;
        right: 16px;
    }
    .record-information .select__input-wrapper .arrow,
    .record-addition .select__input-wrapper .arrow {
        top: 8px;
        right: 8px;
        border-color: #767676;
    }

    .record-addition .select__input-wrapper .arrow-top,
    .record-information .select__input-wrapper .arrow-top {
        top: 12px;
    }

    .popup-filter .select__input-wrapper input[type="text"] {
        min-height: 39px;
        background: #FFFFFF;
        border: 0.75px solid #C9D1D2;
        box-sizing: border-box;
        border-radius: 2px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #767676;
        padding: 8px 65px 8px 10px;
        resize: none;
        outline: none;
    }

    .select__users > li {
        height: auto;
    }

    .select__users > li:hover {
        background-color: #ffffff;
    }

    li:first-child.select__user {
        margin-top: 0;
    }

    a.user__avatar {
        display: inline-block;
        border-radius: 20px;
        overflow: hidden;
    }

    .popup-filter .user__avatar {
        width: 38px;
        height: 38px;
    }

    .record-information .user__avatar img,
    a.user__avatar img {
        width: inherit;
        height: inherit;
    }


    .record-addition .user__avatar,
    .record-information .user__avatar {
        width: 28px;
        height: 28px;
        margin-top: 6px;
    }

    .record-addition .user__avatar + a,
    .record-information .user__avatar + a {
        font-size: 14px;
        line-height: 16px;
        bottom: 10px;
        left: 12px;
        position: relative;
        text-decoration: none;
    }

    .record-information .select__user,
    .record-addition .select__user {
        height: 45px;
    }

    .record-information .select__user label,
    .record-addition .select__user label {
        border-radius: 0;
    }

    .record-information .sector__list label,
    .record-addition .sector__list label {
        top: 6px;
        font-weight: normal;
    }

    .record-information .house__list li,
    .record-addition .house__list li {
        height: 35px;
    }

    div.record-information div.select__input-wrapper div.arrow-top,
    div.record-addition div.select__input-wrapper div.arrow-top {
        top: 11px;
    }

    .record-information .selected-filter,
    .record-addition .selected-filter {
        height: 22px;
        margin: 3px 2px 0 4px;
        line-height: 22px;
        font-size: 14px;
        padding-right: 26px;
    }

    .record-information .selected-filter .close,
    .record-addition .selected-filter .close {
        position: absolute;
        top: 5px;
        right: 3px;
    }


    .record-addition .selected-filter .close,
    .record-information .selected-filter .close,
    .record-information .selected-filter .close:before,
    .record-addition .selected-filter .close:before {
        height: 1px;
        width: 11px;
    }

    div.record-information ul.type__list label,
    div.record-addition ul.type__list label {
        position: relative;
        top: 3px;
    }

    .record-information .select__input-wrapper,
    .record-addition .select__input-wrapper {
        margin-top: 0;
    }

    .record-addition .btn-close {
        top: 5px;
        right: 27px;
        width: 16px;
        height: 16px;
    }

    .record-addition div.btn-close div.close {
        position: absolute;
        top: 1px;
        left: 3px;
    }

    .record-addition div.btn-close div.close,
    .record-addition div.btn-close div.close:before {
        height: 2px;
        width: 10px;
    }

    .popup-filter .select__input-wrapper div.close {
        top: 3px;
        position: absolute;
    }

    .popup-filter .selected-filter div.close {
        top: 5px;
    }

    .record-information .select__input-wrapper{
        margin-top: 6px;
    }
</style>
